@charset "utf-8";

@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "header";
@import "home";
@import "about";
@import "projects";
@import "posts";
@import "contact";

@mixin vertical-align {
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

section {
  display: block;
  height: 55em;

  h2 {
    font-family:'Varela Round', sans-serif;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 1em;
    color: $nephritis;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}