.posts {
  height: 25em;
  text-align: center;

  .post-item {
    font-size: 2em;
    padding: .5em;
  }
}

article.type-system-rounded {
  $sans-serif: 'Nunito', sans-serif;
  $sans-serif-2: 'Varela Round', sans-serif;

  @include clearfix;
  @include span-columns(6);
  @include shift(3);
  text-align: left;
  margin-bottom: 5em;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $sans-serif-2;
    font-size: 1.8em;
    margin-bottom: .5em;

    @include media($medium-screen) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-family: $sans-serif-2;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: .9em;

    @include media($medium-screen) {
      font-size: 1.4em;
    }
  }

  h3 {
    font-family: $sans-serif-2;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em;
  }

  p.date {
    color: transparentize($base-font-color, .6);
    font-family: $sans-serif;
    font-size: .9em;
    margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    line-height: 1.4em;
    font-size: 1.05em;
    font-weight: 300;
    margin-bottom: 1.5em;

    span {
      font-family: $sans-serif-2;
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }

  ol li {
    list-style-type: decimal;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }

  ul li {
    list-style-type: disc;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif-2;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      position: absolute;
      font-size: 1.5em;
      top: -1px;
      right: -12px;
    }
  }
  
  hr {
    width: 3em;
  }

  p.author {
    font-family: $sans-serif;
  }

  pre, code {
  padding: .5em;
  border-radius: .3em;
  font-size: .9em;
  font-family: "Lucida Console", Monaco, monospace;
  }
}