<div class="header-cont">
  <header>
    <%= link_to "{ elliotec }", "index.html", class: 'logo' %>
    <nav>
      <ul>
        <li><%= link_to "Posts", "posts.html"%></li>
        <li><%= link_to "Projects", "projects.html"%></li>
        <li><%= link_to "Contact", "contact.html"%></li>
      </ul>
    </nav>
  </header>
</div>