<section class="home">
  <div class="intro">
    <h3>Hi, I'm Michael Elliott.</h3><br>
    <p>I'm a web developer &amp; designer known professionally and around the web as elliotec. I'm currently available for contract/consulting work or a full-time position.</p>
  </div>
  <%= image_tag("/images/headshot.png", class: "headshot") %>
</section>
<section class="about">
<h2>About Me</h2>
  <div class="grid-items-lines">
    <a href="javascript:void(0)" class="grid-item">
      <h1>Development</h1>
      <p>I use Ruby on Rails as my primary development framework for creating dynamic web applications. I will also occasionally use some front-end JavaScript frameworks like Ember or Angular.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item grid-item">
      <h1>Design</h1>
      <p>My first exposure to coding was building static HTML &amp; CSS sites from scratch. Now I primarily use HTML5 &amp; Sass with helpers like Bourbon, Neat, and Bitters. Depending on the project I might also use a customizable template or Bootstrap.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Another Grid Item</h1>
      <p>Lorem ipsum dolor sit amet, elit.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>A Grid Item</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Item</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Last Grid Item</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
  </div>
</section>