<div id="hometop"></div>
<section id="home">
  <%= image_tag("/images/headshot.png", class: "headshot") %>
  <div class="intro">
    <h3>Hi, I'm Michael Elliott.</h3><br>
    <p>I'm a full-stack web developer known professionally and around the web as elliotec. I'm currently available for contract/consulting work or a full-time position.</p>
  </div>
</section>
<a class="anchor" id="abouttop"></a>
<section id="about">
  <h2>About Me</h2>
  <div class="grid-items-lines">
    <div class="grid-item">
      <h1>Development</h1>
      <p>I use Ruby on Rails as my primary development framework for creating dynamic web applications. I also occasionally use front-end JavaScript frameworks like Ember or Angular.</p>
    </div>
    <div class="grid-item">
      <h1>Design</h1>
      <p>I use HTML5 &amp; SCSS with help from Bourbon, Neat, and Bitters. Sometimes I use customizable templates or Bootstrap. jQuery is a go-to for moving stuff around the page.</p>
    </div>
    <div class="grid-item">
      <h1>Deployment</h1>
      <p>Heroku makes deployment super easy, but I also use AWS, Nginx, Passenger, Chef, Digital Ocean, and Site44 for production. My favorite DNS providers are DNSimple and IWantMyName.</p>
    </div>
    <div class="grid-item">
      <h1>Integration</h1>
      <p>I have experience with iOS - web integration, building API's, and integrating hardware with software. I love hardware and use Arduino for prototyping.</p>
    </div>
    <div class="grid-item">
      <h1>Tools</h1>
      <p>I use OSX and Linux for development. My text editors of choice are Sublime Text and Vim. I use Git for version-controll and spend lots of time on the command line. </p>
    </div>
    <div class="grid-item">
      <h1>Hobbies</h1>
      <p>I enjoy rock climbing, snowboarding, video games, ping-pong, friends, playing music, travelling, and a bunch of other stuff too.</p>
    </div>
    <div class="grid-item grid-item-big">
      <h1>What all this means for you</h1>
      <p>Have an app idea? Need a portfolio site? An info or ecommerce site for your new business? How about a full-time developer? I can rapidly prototype web applications with the whole package - development, design, and deployment - or help you on just about any project. I'm easy to work with and get straight to the point.</p>
    </div>
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </div>
</section>
<a class="anchor" id="projectstop"></a>
<section id="projects">
  <h2>Some Projects</h2>
  <div class="grid-items">
    <a href="http://www.beautilist.com" class="grid-item">
    <div class="hover-tile-outer beautilist">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Beautilist</h4>
          <p>Beautilist is a Rails app that implements a tree data structure in Ruby to infinitely nest lists and uses Ajax calls to manipulate the lists and their children around the DOM in real-time.</p>
          <p>Sign up to add as many lists and sublists as you want to see what the app is capable of.</p>
        </div>
      </div>
    </div>
    </a>
    <a href="http://www.makaelaphoto.com" class="grid-item">
    <div class="hover-tile-outer maki">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Makaela Herran Fine Art Photography</h4>
          <p>This was one of my first projects, and I will always love it for how much I learned from it. It was my first exposure to jQuery, and designing the entire thing from scratch taught me a ton about HTML and CSS.</p>
          <p>Also, Makaela is a great Photographer. Hire her if you need some photos!</p>
        </div>
      </div>
    </div>
    </a>
    <a href="http://www.fastbar.co" class="grid-item">
    <div class="hover-tile-outer fastbar">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Fastbar</h4>
          <p>Redesign Seattle Startup Weekend - 3rd Place Winner</p>
          <p>FastBar is an event process improvement company combining iOS, Rails, and RFID technologies.</p>
          <p>I engineered the back-end, from the registration system to the data analytics. I worked closely with the iOS developer integrating the native POS application with the web app and database, and worked with the designers on making it all look great.</p>
          <p>Most of the action happens on the iOS side, but check out the code on my Github to see how it all works.</p>
        </div>
      </div>
    </div>
    </a>
    <a href="http://codeunionfellows.herokuapp.com" class="grid-item">
    <div class="hover-tile-outer codeunion">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Code Union</h4>
          <p>Code Union is an application aggregating and curating resources and best practices for people learning to code. I led a team of 4 in the development and design of the initial prototype.</p>
          <p>The application has since been taken over by a different team and is still in development for a couple weeks. As such, the site may be down periodically for matinence or feature changes, and content will be sporadically added and removed.</p>
          <p>In the mean time, feel free to sign up and add your own content to see how it works!</p>
        </div>
      </div>
    </div>
    </a>
  </div>
</section>
<a class="anchor" id="poststop"></a>
<section id="posts">
  <h2>Posts</h2>
  <ul>
    <% blog.articles.each do |post| %>
    <li class = "post-item">
      <%= link_to(post.title, post.url)%>
      <span class = "post-date"><%= post.date.strftime('%b %e, %Y') %></span>
    </li>
    <% end %>
  </ul>
</section>
<a class="anchor" id="contacttop"></a>
<section id="contact">
  <h2>Contact</h2>
</section>